[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/juanwolf/hugo-theme-jane.git
[submodule "themes/calva"]
	path = themes/calva
	url = https://github.com/juanwolf/calva.git
